{% extends 'main/base.html' %}


<body>
{% block content %}
    {% if user.is_authenticated %}
        <h1><center>Kirstu</center></h1>
        <h3><center>+ Annetut sakot &ensp; {{ saadut.sum }} €</center></h3>
        <h3><center>- Maksamatta &ensp;{{maksamatta.sum}} €</center></h3>
        <h3><center>- Käytetty &ensp; &ensp; &ensp;{{ kulutettu.sum }} €</center></h3>
        <h2><center>= KASSA &ensp; &ensp; &ensp;{{ kassa }} €</center></h2>

    {% else %}
        <h1><center>Please <a href={% url 'login_user' %}>Log in</a></center></h1>
    {% endif %}    
{% endblock %}
    
</body>



